<link rel="stylesheet" href="../stylesheets/nutrient-search.css">

<h2 class="title"> Nutritional Information</h2>
<hr>

<div class="container">
  <div class="row">
         {{#each foods}}
          <div class="search-result col-4">
            <h2><u>{{food.label}}</u></h2>
                  {{#if food.image}}
                    <br>
                    <img src="{{food.image}}" alt="{{food.label}}" class="search-image">
                    <br>
                  {{/if}}
              <ul>
                  <li>Energy: {{food.nutrients.ENERC_KCAL}} KCAL</li>
                  <li>Lipids: {{food.nutrients.FAT}}</li>
                  <li>Carbohydrates: {{food.nutrients.CHOCDF}}</li>
                  <li>Dietary Fibre: {{food.nutrients.FIBTG}}</li>
                  <li>Protein: {{food.nutrients.PROCNT}}</li>
               </ul>
            </div>
         {{/each}}
  </div>
</div>
<br>


