<link rel="stylesheet" href=" /stylesheets/recipe-details.css">

<br>

{{#if user}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2>{{recipe.name}}</h2>
    </div>
    <div class="col-md-6">
      <div class="prep">
          <p>Prep time: {{recipe.prepTime}} || Cooking time: {{recipe.cookTime}} || Serves: {{recipe.serves}}</p>
      </div>

      <div class="cuisine">
        {{#if recipe.cuisine}}
          Cuisine: {{recipe.cuisine}}
        {{/if}}
      </div>

      <div class="extra-info">
      {{#if recipe.suitable}}
        <p>Suitable for:
          {{#each recipe.suitable}}
          {{this}}
          {{/each}}
        </p>
      {{/if}}

      {{#if recipe.allergy}}
        <p>Allergy Information:
          {{#each recipe.allergy}}
          {{this}}
          {{/each}}
        </p>
      {{/if}}
      </div>
    </div>
  </div>
</div>

<hr>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="dish-image">
        <img class="dish-image" src="{{recipe.pictureUrl}}"/>
      </div>
    </div>

    <div class="col-md-4">
      <div class="ingredients">
        <ul> <h3> <u>Ingredients</u></h3>
            {{#each recipe.ingredients}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <div class="instructions">
        <ol> <h3> <u>Instructions</u></h3>
            {{#each recipe.method}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
      </div>
    </div>


  </div>
</div>
  <br>
  <hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
          <p><u>Add a review</u></p>
              <div class="add-review">
                <form action="/reviews/{{recipe.id}}/add" method="POST" class="form-review">
                  <div class="mb-3">
                    <label class="form-label">User</label>
                    <input type="text" name="user" class="form-control" required/>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Comment</label>
                    <textarea name="comment" class="form-control" required></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Add Review</button>
                </form>
              </div>
      </div>

      <div class="col-md-6">
          <div class="view-review">
            <h4>Reviews:</h4>
            {{#each recipe.reviews}}
              <p> <span class="username">{{user}}</span> said :
                {{comment}}</p>
            {{/each}}
          </div>
      </div>
    </div>
  </div>



{{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{recipe.name}}</h2>
        <img src="{{recipe.pictureUrl}}"/>
        <br>
        <br>
        <p>Please <a href="/login">login</a>  or <a href="/signup">register</a>  to see full recipe</p>
      </div>
    </div>
  </div>
{{/if}}


